version: '3'

services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: Th1sIsS3cure
      MYSQL_DATABASE: mysms_dev
    ports:
      - "3306:3306"

  
  app:
    build: .
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    restart: on-failure #MySQL can take a bit to spool up and as such the app may crash on startup, so this allows it to try again.
    volumes:
      - .:/mysms
    depends_on:
      - db
    links:
      - db
    environment:
        DB_HOST: db
        DB_USER: root
        DB_PASSWORD: Th1sIsS3cure
        DB_NAME: mysms_dev
        DB_PORT: 3306
    ports:
      - "3000:3000"
