<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="#"><em>My</em>Sms</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Students", "/students"  %></li>
      </ul>
    </div>
  </div>
</div>
