.navbar.navbar-inverse.navbar-static-top
  .container
    %a.navbar-brand{href: "#"}
      %em> My
      Sms
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "Students", students_path
        %li= link_to "Courses", courses_path
